@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #353535;
  --bg: #f0f2f6;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: #353535;
    --color: #f0f2f6;
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color);
  background: var(--bg);
  margin: 0;
  padding: 0;
}
